<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Materiais</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Materiais</h1>

        <!-- Formulário de Filtro -->
        <form method="GET" action="{% url 'consultaOracle:material_pesquisa' %}">
            <div class="row mb-4">
                <!-- Filtro de Código -->
                <div class="col-md-4">
                    <label for="codigo_input" class="form-label">Filtrar por Código (Número):</label>
                    <input type="number" id="codigo_input" name="codigo" class="form-control" placeholder="Digite o Código"
                        min="0" value="{{ request.GET.codigo }}">
                </div>

                <!-- Filtro de Descrição -->
                <div class="col-md-4">
                    <label for="descricao_input" class="form-label">Filtrar por Descrição (Texto):</label>
                    <input type="text" id="descricao_input" name="descricao" class="form-control"
                        placeholder="Digite a Descrição" value="{{ request.GET.descricao }}">
                </div>

                <!-- Filtro de Saldo -->
                <div class="col-md-4">
                    <label for="saldo_input" class="form-label">Filtrar por Saldo (Número):</label>
                    <div class="input-group">
                        <!-- Dropdown de Saldo com opções Menor que, Igual a, Maior que -->
                        <select class="form-select" name="saldo_filter" id="saldo_input">
                            <option value="" disabled selected>Escolha a Condição</option>
                            <option value="menorq" {% if request.GET.saldo_filter == 'menorq' %}selected{% endif %}>Menor que</option>
                            <option value="igual" {% if request.GET.saldo_filter == 'igual' %}selected{% endif %}>Igual a</option>
                            <option value="maiorq" {% if request.GET.saldo_filter == 'maiorq' %}selected{% endif %}>Maior que</option>                            
                        </select>
                        <input type="number" name="saldo" id="saldo_value" class="form-control" min="0"
                            placeholder="Digite o valor do Saldo" value="{{ request.GET.saldo }}">
                    </div>
                </div>

                <!-- Filtro de ultimoUso -->
                {% if flagUltimoUso %}
                <div class="col-md-4">
                    <label for="ultimoUso_input" class="form-label">Filtrar por Último Uso (Número):</label>
                    <div class="input-group">
                        <!-- Dropdown de Último Uso com opções Menor que, Igual a, Maior que -->
                        <select class="form-select" name="ultimoUso_filter" id="ultimoUso_input">
                            <option value="" disabled selected>Escolha a Condição</option>
                            <option value="menorq" {% if request.GET.ultimoUso_filter == 'menorq' %}selected{% endif %}>Menor que</option>
                            <option value="igual" {% if request.GET.ultimoUso_filter == 'igual' %}selected{% endif %}>Igual a</option>
                            <option value="maiorq" {% if request.GET.ultimoUso_filter == 'maiorq' %}selected{% endif %}>Maior que</option>                            
                        </select>
                        <input type="number" name="ultimoUso" id="ultimoUso_value" class="form-control" min="0"
                            placeholder="Digite o valor do período em meses" value="{{ request.GET.ultimoUso }}">
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Botão de Enviar -->
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>

        <!-- Tabela para exibir os materiais -->
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Saldo</th>
                    {% if flagUltimoUso %}
                    <th>Último Uso</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for material in page_obj %}
                <tr>
                    <td>{{ material.codigo }}</td>
                    <td>{{ material.descricao }}</td>
                    <td>{{ material.saldo }}</td>
                    {% if flagUltimoUso %}
                    <td>{{ material.ultimoUso_meses }}
                        <!-- Adicionar textinho quando tiver numero -->
                        {% if material.ultimoUso_meses != None %}
                         meses atrás
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Controles de paginação -->
        <nav aria-label="Navegação de página">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Primeira">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próxima">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>

</html>